html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
}

main {
  align-items: center;
  background-image: url("images/jvn-main.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.play-btn,
.welcome-btn {
  height: 40px;
  width: 600px;
}

.welcome-msg h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  background-color: #000000;
  border: 0;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.game-page {
  background-color: #F5F7F6;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.sidebar {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  width: 20%;
}

.matches-sidebar {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  margin-left: 5%;
  width: 85%;
}

.sidebar h4 {
  font-weight: normal;
}

h5 {
  font-size: 60px;
  margin: 10px;
}

.welcome-btn {
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  float: left;
  height: 80px;
  margin: 0px;
  width: 90px;
}

.welcome-msg {
  display: none;
}

header {
  height: 80px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.heading {
  margin-right: 100px;
  margin-top: 20px;
}

h2 {
  font-size: 17px;
  font-weight: normal;
  margin-top: 5px;
}

h1 {
  font-size: 25px;
}


.welcome-msg h1,
.winner-msg h1 {
  margin-top: 100px;
}

p {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  width: 600px;
}

.player-names {
  display: grid;
  grid-template-areas:
  "input1 input2"
  "player1 player2"
  "button button"
  "error error";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 400px;
  text-align: left;
}

input {
  background-color: #FFFFFF;
  border: 0;
  height: 40px;
  margin-top: 150px;
  text-indent: 10px;
  width: 250px;
}

.input-one {
  grid-area: input1;
}

.input-two {
  grid-area: input2;
  margin-left: 25%;
}

.player-one {
  grid-area: player1;
}

.player-two {
  grid-area: player2;
  margin-left: 25%;
}

.player-names button {
  grid-area: button;
  margin-top: 25px;
}

.error {
  display: none;
  grid-area: error;
  margin-top: 10px;
}

#active {
  cursor: pointer;
}

.card-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  width: 60%;
}

h6 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding-top: 12px;
}

.winner-msg button {
  height: 40px;
  margin: 20px;
  width: 300px;
}

.winner-msg h1 {
  grid-area: congrats;
  margin-bottom: 0px;
}

.winner-msg h2 {
  font-weight: bold;
  grid-area: time;
  margin-top: 20px;
}

.rematch {
  grid-area: button2;
}

.new-game {
  grid-area: button1;
  left: 50%;
  position: relative;
}

.winner-msg {
  background-image: url("images/jvn-main.jpg");
  background-position: center;
  display: none;
  grid-template-areas:
  "congrats congrats"
  "time time"
  "para para"
  "button1 button2";
  height: 100%;
  text-align: center;
}

.winner-msg p {
  grid-area: para;
  margin: 0px;
  text-align: center;
  width: 100%;
}

.flip .flipper,
.card.flip .flipper {
	transform: rotateY(180deg);
}

.back,
.card,
.front {
	height: 150px;
  width: 110px;
}

.card {
  perspective: 1000px;
  margin: 40px;
  display: block;
  opacity: inherit;
  transition: none;
}

.flipper {
  position: relative;
  transform-style: preserve-3d;
	transition: 0.6s;
}

.back,
.front {
	backface-visibility: hidden;
  border: 2px solid #000000;
  left: 0;
	position: absolute;
	top: 0;
}

.front {
  background-color: #FFFFFF;
  text-align: center;
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
	transform: rotateY(180deg);
}

.flipper-1 {
  transform: rotateZ(13deg);
}

.flipper-2 {
  transform: rotateZ(-7deg);
}

.flipper-3 {
  transform: rotateZ(18deg);
}

.flipper-4 {
  transform: rotateZ(19deg);
}

.flipper-5 {
  transform: rotateZ(13deg);
}


.drop-menu {
  align-items: center;
  background-image: url("images/rainbow.jpg");
  background-size: cover;
  color: #000000;
  display: none;
  flex-direction: column;
  height: 300px;
  margin-top: 9px;
  overflow: hidden;
  position: absolute;
  width: 250px;
  z-index: 3;
}

.drop-menu h1 {
  font-size: 20px;
}

.winner-list {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media screen and (min-width: 1200px) {
  header,
  main,
  .winner-msg {
    margin-right: 10%;
    margin-left: 10%;
  }

  .sidebar {
    width: 10%;
  }

  .game-page {
    margin-left: 10%
  }
}

@media screen and (max-width: 1020px) {
  main {
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 760px) {
  .new-game {
    left: 10%;
  }
}
