html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
}

main {
  background-image: url("images/jvn-main.jpg");
  background-position: center;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-btn,
.welcome-btn {
  width: 600px;
  height: 40px;
}

.welcome-msg h2 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

button {
  border: 0;
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.game-page {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #F5F7F6;
  /* opacity: inherit;
  transition: none; */

}

.sidebar {
  width: 20%;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
}

.matches-sidebar {
  margin-left: 5%;
  width: 85%;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.sidebar h4 {
  font-weight: normal;
}

h5 {
  font-size: 60px;
  margin: 10px;
}

.welcome-btn {
  cursor: pointer;
}

.menu-icon {
  height: 80px;
  width: 90px;
  float: left;
  margin: 0px;
  cursor: pointer;
}

.welcome-msg {
  display: none;
}

header {
  height: 80px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

#heading {
  margin-top: 20px;
  margin-right: 100px;
}

h2 {
  margin-top: 5px;
  font-weight: normal;
  font-size: 17px;
}

h1 {
  font-size: 25px;

}

.winner-msg h1,
.welcome-msg h1 {
  margin-top: 100px;
}

p {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
  width: 600px;
}

.player-names {
  height: 400px;
  display: grid;
  grid-template-areas:
  "input1 input2"
  "player1 player2"
  "button button"
  "error error";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  text-align: left;
}


input {
  margin-top: 150px;
  width: 250px;
  height: 40px;
  border: 0;
  background-color: #FFFFFF;
  text-indent: 10px;
}

.input-one {
  grid-area: input1;
}


.input-two {
  margin-left: 25%;
  grid-area: input2;
}

.player-one {
  grid-area: player1;
}

.player-two {
  margin-left: 25%;
  grid-area: player2;
}

.player-names button {
  margin-top: 25px;
  grid-area: button;
}

.error {
  margin-top: 10px;
  display: none;
  grid-area: error;
}

#active {
  cursor: pointer;
}

.card-container {
  width: 60%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


h6 {
  font-size: 30px;
  font-weight: bold;
  padding-top: 12px;
  margin: 0;
}

.winner-msg button {
  width: 300px;
  height: 40px;
  margin: 20px;
}

.winner-msg h1 {
  grid-area: congrats;
  margin-bottom: 0px;
}

.winner-msg h2 {
  margin-top: 20px;
  font-weight: bold;
  grid-area: time;
}

.rematch {
  grid-area: button2;
  /* margin-right: 50%; */
}

.new-game {
  grid-area: button1;
  position: relative;
  left: 50%
  /* margin-left: 45%; */
}

.disable-click {
  pointer-events: none;
}


.winner-msg {
  display: none;
  background-image: url("images/jvn-main.jpg");
  background-position: center;
  height: 100%;
  text-align: center;
  grid-template-areas:
  "congrats congrats"
  "time time"
  "para para"
  "button1 button2";
  /* opacity: 0;
  transition: none; */
}

.winner-msg p {
  text-align: center;
  grid-area: para;
  width: 100%;
  margin: 0;
}

.flip .flipper, .card.flip .flipper {
	transform: rotateY(180deg);
}

.card,
.front,
.back {
	height: 150px;
  width: 110px;
}

.card {
  perspective: 1000px;
  margin: 40px;
  display: block;
  opacity: inherit;
  transition: none;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front,
.back {
	backface-visibility: hidden;
  border: 2px solid #000000;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
  background-color: #FFFFFF;
  text-align: center;
}

.back {
	transform: rotateY(180deg);
}

.flipper-1 {
  transform: rotateZ(13deg);
}

.flipper-2 {
  transform: rotateZ(-7deg);
}

.flipper-3 {
  transform: rotateZ(18deg);
}

.flipper-4 {
  transform: rotateZ(19deg);
}

.flipper-5 {
  transform: rotateZ(13deg);
}


.drop-menu {
  margin-top: 9px;
  background-image: url("images/rainbow.jpg");
  background-size: cover;
  display: none;
  flex-direction: column;
  height: 300px;
  position: absolute;
  color: #000000;
  width: 20%;
  z-index: 3;
  overflow: hidden;
}

.drop-menu h1 {
  font-size: 20px;
}

ol {
  margin-left: 10px;
}

li {
  font-size: 15px;
  text-align: left;
  text-indent: 10px;
  font-weight: bold;
  /* overflow: hidden; */
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
